Flask
flask
peewee==3.5.2
vk==2.0.2
Wer
DateTime==4.2
psycopg2==2.7.5
flask-peewee==3.0.3
todoist-python==7.0.18
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
py-trello==0.14.0
twilio==6.24.1
python-telegram-bot==12.0.0b1
requests==2.11.1
requests-toolbelt==0.7.0
viberbot==1.1.8
uwsgi
onedrivesdk
pandas
numpy
sklearn
sktime
json
matplotlib
Flask-Cors==1.10.3